#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}

#myBtnContainer {
  /* display: flex; */
  text-align: center;
}

.card-body {
  text-align: center;
}

header {
  text-align: center;
  background-color: rgba(8, 118, 229, 0.551);
  font-size: medium;
}

footer {
  text-align: center;
  background-color: lightgray;
  box-sizing: border-box;
}

.card {
  margin-bottom: 20px;
}

/* .container {
  overflow: hidden;
} */

/* .btn {
  background-color: gray;
} */
