#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
  flex-direction: row;
}

.card-body {
  text-align: center;
}

header {
  text-align: center;
  background-color: lightgray;
  font-size: medium;
}

footer {
  text-align: center;
  background-color: lightgray;
  box-sizing: border-box;
}

.card {
  margin-bottom: 20px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cats-btn {
  background-color: blue;
}

#dogs-btn {
  background-color: greenyellow;
}

#dinos-btn {
  background-color: orange;
}

.pet-type {
  text-align: center;
  background-color: lightblue;
  margin: 0px 0px 0px 0px;
}
